#mDashboard
{
    width: 100%;
    height: 1px;
    background-color: transparent;
}

#vLists
{
    flex-direction: column;
    align-items: top center;
    align-content: center;
        
    height: 700px;
    width: 400px;
}

#vNewList
{
    flex-direction: column;
    align-items: top center;
    align-content: center;
        
    height: auto;
    width: 600px;
}

#vEditList
{
    flex-direction: column;
    align-items: top center;
    align-content: center;
        
    height: 600px;
    width: 400px;
}

.hidden-option
{
    display: none;
}


#imgTodoList
{
    height: 200px;
    width: auto;
    object-fit: contain;
    margin-bottom: -0px;
    margin-top: -0px;
    filter: hue-rotate(240deg); 
}

.todos-list
{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: scroll;
    background-color: rgba(255,255,255,0.0);
}

#todosList::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgba(255,255,255,0.3);
}

#todosList::-webkit-scrollbar
{
	width: 6px;
	background-color: rgba(255,255,255,0.3);
}

#todosList::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.list-item-container
{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: 93%;
    height: 30px;
    padding: 10px;
    background-color: var(--back-todo-list-item);
    margin-bottom: 10px;
    border-radius: 12px;
}

.list-item
{
    flex: 8;
    font-weight: bold;
    color: var(--text-todo-list-item);
    margin-top: -4px;
}

.list-button
{
    flex: 1;
    background-color: var(--back-todo-list-button);
    max-width: 30px;
    margin-right: 10px;
    border-radius: 50%;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.list-item-description 
{
    font-size: 8pt;
    font-weight: normal;
    color: var(--text-primary);
}

#imgCheckList
{
    height: 200px;
    width: auto;
    object-fit: contain;
    margin-bottom: -0px;
    margin-top: -0px;
    filter: hue-rotate(200deg); 
}

#frmNewList
{
    margin-top: 20px;
}