#mDashboard
{
    width: 100%;
    height: 1px;
    background-color: transparent;
}

#vLists
{
    flex-direction: column;
    align-items: top center;
    align-content: center;
        
    height: 700px;
    width: 400px;
}

#vNewList
{
    flex-direction: column;
    align-items: top center;
    align-content: center;
        
    height: auto;
    width: 600px;
}

#vEditList
{
    flex-direction: column;
    align-items: top center;
    align-content: center;
        
    height: 780px;
    width: 750px;
}

.hidden-option
{
    display: none;
}


#imgTodoList
{
    height: 200px;
    width: auto;
    object-fit: contain;
    margin-bottom: -0px;
    margin-top: -0px;
    filter: hue-rotate(240deg); 
}

.todos-list
{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: scroll;
    background-color: rgba(255,255,255,0.0);
}

#todosList::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgba(255,255,255,0.3);
}

#todosList::-webkit-scrollbar
{
	width: 6px;
	background-color: rgba(255,255,255,0.3);
}

#todosList::-webkit-scrollbar-thumb
{
	background-color: var(--back-primary);
}

.list-item-container
{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: 93%;
    height: 30px;
    padding: 10px;
    background-color: var(--back-todo-list-item);
    margin-bottom: 10px;
    border-radius: 12px;
}

.list-item
{
    flex: 8;
    font-weight: bold;
    color: var(--text-todo-list-item);
    margin-top: -4px;
}

.list-button
{
    flex: 1;
    background-color: var(--back-todo-list-button);
    max-width: 30px;
    margin-right: 10px;
    border-radius: 50%;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.list-item-description 
{
    font-size: 8pt;
    font-weight: normal;
    color: var(--text-primary);
}

#imgCheckList
{
    height: 200px;
    width: auto;
    object-fit: contain;
    margin-bottom: -0px;
    margin-top: -0px;
    filter: hue-rotate(200deg); 
}

#frmNewList
{
    margin-top: 20px;
}


#imgTakeNote
{
    height: 150px;
    width: auto;
    object-fit: contain;
    margin-bottom: 15px;
    margin-top: -0px;
}

#frmEditList
{
    margin-top: 15px;
    height: 310px;
}

#todoItemsList
{
    margin-top: 10px;
    margin-bottom: 5px;
}

#todoItemsList::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgba(255,255,255,0.3);
}

#todoItemsList::-webkit-scrollbar
{
	width: 6px;
	background-color: rgba(255,255,255,0.3);
}

#todoItemsList::-webkit-scrollbar-thumb
{
	background-color: var(--back-primary);
}

.todo-items-bottom-buttons-container
{
    min-width: 100%;
    min-height: 40px;
    margin-bottom: 10px;
    padding-top: 20px;
}

#txtEditListName
{
    padding-left: 18px;
    color: var(--text-todo-list-item);
}


.todo-add-item-bottom-buttons-container
{
    min-width: 100%;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.todo-list-button
{
    background-color: var(--background-button);
    border: 3px solid var(--border-button);
    color: var(--text-button);
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: -8px 10px 30px -8px var(--shadow-button);
    cursor: pointer;
}

.todo-list-button:hover
{
    background-color: var(--back-button-hover);
    border: 3px solid var(--border-button-hover);
    color: var(--text-button-hover);
}

.todo-list-button:active
{
    background-color: var(--back-button-active);
    border: 3px solid var(--border-button-active);
}

.list-item-input, 
input.list-item-input:focus,
input.list-item-input:focus-visible
{
    border: none;
    background-color: transparent !important;
    width: 94%;
    margin-top: 0px;
    color: var(--text-primary);
    box-shadow: none !important;
    -webkit-text-fill-color: var(--text-primary);
    -webkit-box-shadow: none;
}

.list-todo-item-container
{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: 96%;
    height: 30px;
    padding: 10px;
    background-color: var(--back-todo-list-item);
    margin-bottom: 10px;
    border-radius: 12px;    
}