:root
{
    --text-primary          : #543d54;
    --text-secondary        : #444;

    --back-primary          : #7b0065;

    --back-gradient-from    : #D057A9;
    --back-gradient-to      : #86CBCB;
    --shadow                : rgba(0,0,0,0.47);
    
    --back-glass            : rgba(255, 255, 255, .1);
    --border-glass          : rgba(255,255,255, 0.1);
    --shadow-glass          : rgba(0,0,0,0.47);

    --text-input            : rgba(255,255,255,0.8);
    --back-input            : rgba(255,255,255,0.2);

    --text-input-focus      : rgba(255,255,255,0.8);
    --back-input-focus      : #7b0064dc;
    --border-input-focus    : rgba(255, 255, 255, .8);
    --border-input-color    : rgba(255, 255, 255, .8);
    --shadow-input-focus    : rgba(255,255,255,0.27);

    --text-button           : rgba(255, 255, 255, .7);
    --border-button         : #7b0064dc;
    --background-button     : #7b0064dc;
    --shadow-button         : rgba(0,0,0,0.27);

    --text-button-hover     : rgba(255, 255, 255, .8);
    --back-button-hover     : #7b0064dc;
    --border-button-hover   : rgba(255, 255, 255, .8);

    --back-button-active    : #7b0064dc;
    --border-button-active  : rgba(255, 255, 255, 1.0);

    --back-acrylic          : rgba(255, 255, 255, .1);

    --text-form-error       : #7b0064dc;
    --border-dialog-error   : #530043dc;

    --text-disabled         : rgba(255, 255, 255, .3);
}

* {
    margin: 0px;
    padding: 0px;
}

html body
{
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: hidden;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
    color: var(--text-secondary);
    background: var(--back-primary);
    background: linear-gradient(to bottom right, var(--back-gradient-from), var(--back-gradient-to));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.glass
{
    margin: 0 auto;
    background-color: var(--back-glass);
    padding: 15px;
    border-radius: 18px;
    border: 4px solid var(--glass-border);
    box-shadow: -8px 10px 30px -8px var(--shadow-glass);
}

.acrylic
{
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-blend-mode: exclusion;
  background: var(--back-acrylic);
}

#header
{
    height: 30px;
    width: 95%;
    margin-top: 8px;
}

#header > ul > *
{
    filter: none;
}

ul#appName
{
    list-style-type: none;
    min-width: 600px;
    filter: none !important;
}

ul#appName > li
{
    float: left;
    margin-right: 18px;    
}

div#header > ul#appName> li#Title
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20pt;
    word-spacing: -.18em;
    color: var(--back-primary);
}

#subTitle
{
    margin-top: 10px;
    font-size: 10pt;
    color: var(--text-secondary);
}

ul.menu
{
    float: right;
    list-style-type: none;
    display: none;
}

ul.menu.active
{
    display: block;
}

ul.menu > li
{
    float: left;
    margin-left: 25px;
    margin-top: 5px;
}

ul.menu > li > a
{
    text-decoration: none;
    font-weight: bold;
    color: var(--text-primary);
}

ul.menu > li > a:hover
{
    color: var(back-primary);
    cursor: pointer;
}

#main
{
    width: 95%;
    margin: 0 auto;
    margin-top: 25px;
    height: calc(100vh - 150px);
    background-color: transparent;
}

.view
{
    width: calc(100% - 38px);
    height: calc(100% - 38px);

    display: none;    
}

.cmdClose
{
    float: right;
    margin-right: 8px;
    cursor: pointer;
    filter: brightness(50%);
}

h1.view-title
{
    text-align: center;
    color: var(--back-primary);
    margin-top: 15px;
    margin-bottom: 15px;
}

hr
{
    border-color: var(--back-primary);
}

.view-form
{
    margin-top: 15px;
}

label
{
    font-weight: bold;
    color: var(--text-primary);
}

input
{
    margin-top: 8px;
    width: 100%;
    padding: 8px 8px;
    font-size: 14pt;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--text-primary);
    background-color: var(--back-input) !important;
}

input:-webkit-autofill
{
    margin-top: 8px;
    width: 100%;
    padding: 8px 8px;
    font-size: 14pt;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;

}

input:focus-visible, input:-webkit-autofill
{
    outline: none;
    background-color: var(--back-input-focus) !important;
    border: 3px solid var(--border-input-focus);
    color: var(--text-input-focus);
    box-shadow: -8px 10px 30px -8px var(--shadow-input-focus);
    
    -webkit-text-fill-color: var(--text-input);
    -webkit-box-shadow: 0 0 0px 1000px var(--back-input-focus) inset !important;
}

.todos-form-control
{
    margin-bottom: 20px;
}

.checkbox-container
{
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.todos-checkbox
{
    width: 25px;
    height: 25px;
    background-color: var(--back-input);
    margin-left: 4px;
    opacity: .2 !important;
}

.todos-checkbox-label
{
    margin-left: 10px;
    text-decoration: underline;
}

.todos-checkbox-label:hover
{
    cursor: pointer;
    color: var(--back-input-focus);
}

.todos-bottom-buttons-container
{
    padding-top: 20px;
}

.todos-button
{
    background-color: var(--background-button);
    border: 3px solid var(--border-button);
    color: var(--text-button);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: -8px 10px 30px -8px var(--shadow-button);
    cursor: pointer;
}

.todos-button:hover
{
    background-color: var(--back-button-hover);
    border: 3px solid var(--border-button-hover);
    color: var(--text-button-hover);
}

.todos-button:active
{
    background-color: var(--back-button-active);
    border: 3px solid var(--border-button-active);
}

.reset
{
    float: left;
}

.submit
{
    float: right;
}

.form-error
{
    text-align: center;
    color: var(--text-form-error);
    margin-top: 0px;
    margin-bottom: -5px;
    display: none;
}

.dialog-with-error
{
    border-color: var(--border-dialog-error);
}

.error-emotion
{
    font-size: 16pt;
    margin-right: 6px;
}

#footer
{
    width: 95%;
    padding: 15px !important;
    min-height: 18px;
    margin: -5px auto !important;
}

.footer-left
{
    float: left;
    color: var(--text-primary);
}

.footer-right
{
    float: right;
    color: var(--text-primary);
}